.node--type-event.node--view-mode-teaser {

  .node__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 26px 0;
  }

  img {
    border: 5px solid var(--blue-light);
    box-shadow: 0 0 10px rgba(#353D47, .45);
    object-fit: cover;
    height: 131px;
    width: 131px;
    margin-bottom: 16px;
  }

  a {
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  h2 {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 0;
  }

  .field--name-field-date {
    font-weight: 700;
  }

}
