.social-media-menu__list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-media-menu__link {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;

  &:hover::before {
    background-color: var(--blue-bright);
  }

  &::before {
    position: absolute;
    width: 30px;
    height: 30px;
    inset: 0;
    margin: auto;
    background-color: currentColor;
    content: "";
    mask-image: var(--icon);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    @media (forced-colors: active) {
      background-color: linkText;
    }
  }
}
