.icon-card {
  display: flex;
}

.icon-card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 40px;
  border: solid 1px var(--blue-bright);
  border-radius: 8px;
  background-color: white;
  color: var(--blue-bright);
  transition: background-color 0.2s;
  text-decoration: none;
  text-align: center;
  text-wrap: balance;

  @media (min-width: 500px) {
    gap: 0;
    aspect-ratio: 1;
  }

  &:hover {
    background-color: var(--blue-bright);
    color: white;
  }
}

.icon-card__media {
  margin: auto;
}

.icon-card__title {
  font-size: 20px;
  font-weight: 500;

  * {
    color: inherit;
  }
}
