<article class="icon-card">
  <a href="{{ url }}" class="icon-card__link">
    <div class="icon-card__media">
      {% block media %}{% endblock %}
    </div>
    <div class="icon-card__title">
      <h3>{{ title }}</h3>
    </div>
  </a>
</article>
