.icon-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
  padding: 40px;
  border: solid 1px var(--blue-bright);
  border-radius: 8px;
  background-color: white;
  color: var(--blue-bright);
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  text-align: center;
  text-wrap: balance;
}
@media (min-width: 500px) {
  .icon-card__link {
    gap: 0;
    aspect-ratio: 1;
  }
}
.icon-card__link:hover {
  background-color: var(--blue-bright);
  color: white;
}

.icon-card__media {
  margin: auto;
}

.icon-card__title {
  font-size: 20px;
  font-weight: 500;
}
.icon-card__title * {
  color: inherit;
}