<button class="mobile-nav-button no-style" data-drupal-selector="mobile-nav-button" aria-label="{{ 'Main Menu'|t }}" aria-controls="header-nav" aria-expanded="false">
  <span class="mobile-nav-button__icon"></span>
</button>
