.paragraph--type--media-text-column.style--media-on-right-off .media-text-column--wrapper {
  flex-direction: row-reverse;
  gap: 10px;
}
.paragraph--type--media-text-column h2 {
  display: flex;
  justify-content: center;
}
.paragraph--type--media-text-column.style--font-white {
  color: white;
}
.paragraph--type--media-text-column h2,
.paragraph--type--media-text-column h3 {
  margin: 0;
  margin-bottom: 25px;
}
.paragraph--type--media-text-column .media-text-column--wrapper {
  display: flex;
  padding: 25px;
  gap: 10px;
}
.paragraph--type--media-text-column .text-column {
  flex: 1 1 50%;
}
.paragraph--type--media-text-column .media-column {
  display: flex;
  align-items: center;
  flex: 1 1 50%;
}