.view-blog .node--type-blog.node--view-mode-teaser > .node__content {
  display: flex;
  border-bottom: 1px solid var(--blue-bright);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 26px 0;
}
@media only screen and (max-width: 750px) {
  .view-blog .node--type-blog.node--view-mode-teaser > .node__content {
    flex-direction: column;
  }
}
.view-blog .node--type-blog.node--view-mode-teaser > .node__content .blog--left {
  flex: 1 0 70%;
}
.view-blog .node--type-blog.node--view-mode-teaser > .node__content .blog--right {
  align-self: center;
  flex: 1 0 25%;
}
.view-blog .node--type-blog.node--view-mode-teaser > .node__content h2 {
  margin-top: 0;
  margin-block-end: 0.83em;
}
.view-blog .node--type-blog-author.node--view-mode-teaser .node__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.view-blog .node--type-blog-author.node--view-mode-teaser .node__content img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  height: 131px;
  width: 131px;
  margin-bottom: 16px;
}
.view-blog .node--type-blog-author.node--view-mode-teaser .node__content a {
  color: var(--gray);
  font-weight: bold;
  text-decoration: none;
}
.view-blog .node--type-blog-author.node--view-mode-teaser .node__content a:hover, .view-blog .node--type-blog-author.node--view-mode-teaser .node__content a:focus, .view-blog .node--type-blog-author.node--view-mode-teaser .node__content a:active {
  text-decoration: underline;
}

.page-node-type-blog h1 {
  text-align: center;
}
.page-node-type-blog .field--name-title a {
  color: var(--gray);
  font-weight: bold;
  text-decoration: none;
}
.page-node-type-blog .field--name-title a:hover, .page-node-type-blog .field--name-title a:focus, .page-node-type-blog .field--name-title a:active {
  text-decoration: underline;
}
.page-node-type-blog .node--type-blog-author {
  display: flex;
  justify-content: center;
}
.page-node-type-blog .node--type-blog-author > .node__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-node-type-blog .node--type-blog-author img {
  border: 5px solid var(--blue-light);
  box-shadow: 0 0 10px rgba(53, 61, 71, 0.45);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  height: 131px;
  width: 131px;
  margin-bottom: 16px;
}
.page-node-type-blog .node--type-blog-author .blog--author {
  display: flex;
  margin-bottom: 32px;
  text-align: center;
}
.page-node-type-blog .node--type-blog-author .blog--author .field--name-field-position + .field--name-field-company {
  margin-left: 0.3rem;
}
.page-node-type-blog .field--type-image {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.page-node-type-blog .field--name-field-date-single- {
  font-weight: 700;
}
.page-node-type-blog .field--name-field-tags {
  border-top: 1px solid var(--gray);
  padding-top: 0.75rem;
  margin-top: 1rem;
}
.page-node-type-blog .field--name-field-tags .field__item {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid var(--blue-dark);
  border-radius: 8px;
  color: #445259;
  display: inline-block;
  background-color: var(--blue-light);
  margin-right: 5px;
  margin-top: 11px;
}
.page-node-type-blog .field--name-field-tags .field__item:hover, .page-node-type-blog .field--name-field-tags .field__item:focus {
  background-color: white;
}
.page-node-type-blog .field--name-field-tags .field__item a {
  color: var(--blue-dark);
  text-decoration: none;
}

.page-node-type-blog-author .blog--author {
  display: flex;
  margin-bottom: 32px;
  text-align: left;
}
.page-node-type-blog-author .blog--author .field--name-field-position + .field--name-field-company {
  margin-left: 0.3rem;
}