.node--type-event.node--view-mode-teaser .node__content,
.node--type-event.node--view-mode-full .node__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 26px 0;
}
.node--type-event.node--view-mode-teaser img,
.node--type-event.node--view-mode-full img {
  border: 5px solid var(--blue-light);
  box-shadow: 0 0 10px rgba(53, 61, 71, 0.45);
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  height: 131px;
  width: 131px;
  margin-bottom: 16px;
}
.node--type-event.node--view-mode-teaser a,
.node--type-event.node--view-mode-full a {
  font-weight: bold;
  text-decoration: none;
}
.node--type-event.node--view-mode-teaser a:hover, .node--type-event.node--view-mode-teaser a:focus, .node--type-event.node--view-mode-teaser a:active,
.node--type-event.node--view-mode-full a:hover,
.node--type-event.node--view-mode-full a:focus,
.node--type-event.node--view-mode-full a:active {
  text-decoration: underline;
}
.node--type-event.node--view-mode-teaser h2,
.node--type-event.node--view-mode-full h2 {
  margin-top: 0;
  font-size: 16px;
  margin-bottom: 0;
}
.node--type-event.node--view-mode-teaser .field--name-field-date,
.node--type-event.node--view-mode-full .field--name-field-date {
  margin-top: 0.5rem;
  font-weight: 700;
}
.node--type-event.node--view-mode-teaser .field--name-field-address,
.node--type-event.node--view-mode-full .field--name-field-address {
  text-align: center;
}
.node--type-event.node--view-mode-teaser .field--name-field-address p,
.node--type-event.node--view-mode-full .field--name-field-address p {
  margin-top: 1rem;
}
.node--type-event.node--view-mode-teaser .field--name-body p,
.node--type-event.node--view-mode-full .field--name-body p {
  margin: 0;
  text-align: center;
}
.node--type-event.node--view-mode-teaser .field--name-field-file,
.node--type-event.node--view-mode-teaser .field--name-field-event-url,
.node--type-event.node--view-mode-teaser .field--name-field-type,
.node--type-event.node--view-mode-teaser .field--name-field-video,
.node--type-event.node--view-mode-full .field--name-field-file,
.node--type-event.node--view-mode-full .field--name-field-event-url,
.node--type-event.node--view-mode-full .field--name-field-type,
.node--type-event.node--view-mode-full .field--name-field-video {
  text-align: center;
  margin-top: 1rem;
}