:is([type=color],
[type=date],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea):where(:not(.no-style)) {
  width: 100%;
  max-width: 100%;
  min-height: var(--form-element-height);
  padding-inline: var(--form-element-padding);
  color: var(--form-element-color);
  border: 1px solid var(--form-element-border-color);
  border-radius: var(--form-element-border-radius);
  background-color: var(--form-element-background);
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
:is([type=color],
[type=date],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea):where(:not(.no-style)):focus-visible {
  outline: solid var(--form-element-border-width) var(--form-element-focus-ring-color);
  outline-offset: 2px;
}
:is([type=color],
[type=date],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea):where(:not(.no-style))[disabled] {
  color: var(--form-element-disabled-color);
  background-color: var(--form-element-disabled-bg);
  cursor: not-allowed;
}
:is([type=color],
[type=date],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea):where(:not(.no-style)).error {
  border-color: var(--form-element-error-border-color);
}
:is([type=color],
[type=date],
[type=datetime-local],
[type=email],
[type=file],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea):where(:not(.no-style)).error:focus-visible {
  outline-color: var(--form-element-error-border-color);
}
@media (min-width: 500px) {
  :is([type=color],
  [type=date],
  [type=datetime-local],
  [type=email],
  [type=file],
  [type=month],
  [type=number],
  [type=password],
  [type=search],
  [type=tel],
  [type=text],
  [type=time],
  [type=url],
  [type=week],
  textarea):where(:not(.no-style)) {
    width: auto;
  }
}

[type=range] {
  accent-color: var(--form-accent-color);
}

[type=date] {
  /* Ensure that date field isn't larger than other fields. */
}
[type=date]::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

[type=file] {
  height: auto;
  padding-block: 10px;
}

[type=color] {
  padding: 0;
  aspect-ratio: 1;
}

textarea {
  display: block;
  width: 100%;
  min-height: 200px;
  padding: var(--form-element-padding);
}

label {
  display: block;
  padding-block: var(--form-element-label-spacing);
}

select {
  --form-element-select-icon: url("data:image/svg+xml,%3csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 1.49699C18 1.35271 17.9279 1.19038 17.8196 1.08216L16.9178 0.18036C16.8096 0.0721439 16.6473 0 16.503 0C16.3587 0 16.1964 0.0721439 16.0882 0.18036L9 7.26854L1.91182 0.18036C1.80361 0.0721439 1.64128 0 1.49699 0C1.33467 0 1.19038 0.0721439 1.08216 0.18036L0.180361 1.08216C0.0721442 1.19038 0 1.35271 0 1.49699C0 1.64128 0.0721442 1.80361 0.180361 1.91182L8.58517 10.3166C8.69339 10.4248 8.85571 10.497 9 10.497C9.14429 10.497 9.30661 10.4248 9.41483 10.3166L17.8196 1.91182C17.9279 1.80361 18 1.64128 18 1.49699Z' fill='%235D7585'/%3e%3c/svg%3e");
  max-width: 100%;
  height: var(--form-element-height);
  padding-block: 0;
  padding-inline-start: var(--form-element-padding);
  padding-inline-end: calc(3 * var(--form-element-padding));
  color: var(--form-element-color);
  border: 1px solid var(--form-element-border-color);
  border-radius: var(--form-element-border-radius);
  background-color: var(--form-element-background);
  background-image: var(--form-element-select-icon);
  background-repeat: no-repeat;
  background-position: right var(--form-element-padding) center;
  font-family: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
select:focus-visible {
  outline: solid 2px var(--form-element-focus-ring-color);
  outline-offset: 2px;
}
select[disabled] {
  color: var(--form-element-disabled-color);
  background-color: var(--form-element-disabled-bg);
  cursor: not-allowed;
}
select.error {
  border: solid 2px var(--form-element-error-border-color);
}
select.error:focus-visible {
  outline-color: var(--form-element-error-border-color);
}
select[multiple] {
  height: auto;
  padding: var(--form-element-padding);
  background-image: none;
}
select[multiple] option {
  padding: calc(0.5 * var(--form-element-padding));
}
@media (forced-colors: active) {
  select {
    padding-inline-end: var(--form-element-padding);
    background-image: none;
    -webkit-appearance: revert;
       -moz-appearance: revert;
            appearance: revert;
  }
}

[type=checkbox],
[type=radio] {
  display: inline-block;
  width: var(--form-input-width);
  height: var(--form-input-width);
  margin: 0;
  vertical-align: sub;
  accent-color: var(--form-accent-color);
}
[type=checkbox]:focus-visible,
[type=radio]:focus-visible {
  outline: solid 2px var(--form-element-focus-ring-color);
  outline-offset: 2px;
}
[type=checkbox][disabled],
[type=radio][disabled] {
  background-color: var(--form-element-disabled-bg);
}
[type=checkbox].error,
[type=radio].error {
  border: solid 2px var(--form-element-error-border-color);
}
[type=checkbox] + label,
[type=radio] + label {
  display: inline-block;
  padding-inline-start: calc(0.5 * var(--form-element-padding));
}

[type=radio] {
  border-radius: 50%;
}

.form-item {
  margin-block: var(--form-spacing);
}
:is(.form-wrapper, .fieldgroup) .form-item {
  margin-block: calc(0.5 * var(--form-spacing));
}

.description {
  margin-top: 4px;
  font-size: var(--form-description-text-size);
  color: var(--form-description-color);
}

:is(fieldset, .fieldgroup) {
  --fieldset-padding: calc(2 * var(--form-element-padding));
  margin-block: calc(4 * var(--form-spacing));
  padding: var(--fieldset-padding);
  border: solid 2px var(--form-fieldset-border);
  border-radius: var(--form-element-border-radius);
}
:is(fieldset, .fieldgroup) legend {
  display: contents;
  background-color: var(--form-fieldset-border);
  font-weight: bold;
  font-size: 17px;
}
:is(fieldset, .fieldgroup) legend span {
  display: block;
  margin-bottom: var(--fieldset-padding);
}

.button {
  display: inline-flex;
  align-items: center;
  height: var(--form-element-height);
  margin-block: var(--form-spacing);
  padding-inline: calc(3 * var(--form-element-padding));
  border: solid 1px transparent;
  border-radius: var(--form-element-border-radius);
  background-color: #d5d5d5;
  color: var(--gray);
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.button:hover {
  background-color: #e5e5e5;
}
.button:focus-visible {
  outline: solid 2px var(--form-element-focus-ring-color);
  outline-offset: 2px;
}
.button[disabled] {
  background-color: var(--form-element-disabled-bg);
  color: var(--form-element-disabled-color);
  cursor: not-allowed;
}
.button.button--primary {
  background-color: var(--blue-bright);
  color: white;
}
.button.button--primary:hover {
  background-color: var(--blue-dark);
}
.button:not(:last-child) {
  margin-right: 4px;
}
.button:where(:not(*:has(.button--primary) > *)):nth-child(1 of .button) {
  background-color: var(--blue-bright);
  color: white;
}
.button:where(:not(*:has(.button--primary) > *)):nth-child(1 of .button):hover {
  background-color: var(--blue-dark);
}