.paragraph--type--cta {
  .cta--wrapper {
    display: flex;
    flex-direction: row;
    padding: 25px;
  }

  .wrapper-left {
    flex: 1 0 auto;
  }

  .wrapper-right {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
  }
}
