.paragraph--type--testimonials ul.slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0;
  padding-left: 0;
  list-style-image: none;
  list-style-type: none;
  padding-left: 0;
}
.paragraph--type--testimonials ul.slick-dots button {
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  border: 1px solid lightgrey;
  color: lightgrey;
  background: lightgrey;
  line-height: 0;
}
.paragraph--type--testimonials ul.slick-dots button:hover {
  cursor: pointer;
  border: 1px solid darkgrey;
  color: darkgrey;
  background: darkgrey;
}