.paragraph--type--hover-image-cta {

    .hover-image--wrapper {
        max-width: 237px;
        max-height: 343px;
        margin: 10px auto;
        position: relative;
        width: 100%;
        height: 100%;

        &:hover {
            .body {
                z-index: 0;
                background: rgba(black, 0.5);
                box-shadow: 0 0 20px rgba(53, 61, 71, 0.45);
                height: 100%;
                
            }
        }

        img {
            width: 100%;
            height: 343px;
            object-fit: cover;
            transition: all .5s ease;
            background-position: 50%;
        }

        .body {
            background: #0063DE;
            opacity: .77;
            transition: height .25s, opacity .3s;
            position: absolute;
            bottom: 0;
            padding: 1.1rem 1.67rem .28rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 320px;
            height: 35%;
            left: 0;
            right: 0;

            h3 {
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                color: white;
            }
        }
    }

    &.card-orientation-horizontal {

        .hover-image--wrapper {
            max-width: 675px;
            max-height: 343px;
        }

        img {
            width: 675px;
            height: 343px;
            object-fit: cover;
        }

        .body {
            opacity: .77;
            padding: 1.1rem 1.67rem .28rem;
            transition: height .25s, opacity .3s;
            align-content: center;
            align-items: flex-start;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;
            justify-content: flex-start;
            width: 50%;
            max-width: 675px;
            max-height: 343px;

            h3 {
                text-align: center;
                width: 100%;
            }
        }
    }

}