.paragraph--type--media-text-cta {

  h2 {
    text-align: center;
  }

  h3 {
    color: var(--blue-bright);
  }

  .media-text-cta--wrapper {
    display: flex;
  }

  .wrapper-text,
  .wrapper-media {
    flex: 1 1 50%;
    border: 2px solid red;
  }

  &.style--font-white {
    color: white; 
  }
}
