@font-face {
  font-display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/dm-sans/dm-sans-v14-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/dm-sans/dm-sans-v14-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/dm-sans/dm-sans-v14-latin-700.woff2') format('woff2');
}
